{% extends "MainPage/base.html" %}

{% load staticfiles %}

	
{% block content %}
    <!-- Page Content -->
	<br>
	<br>
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Features:
                    <small>Select from the Kitchen to your Table!</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#burger" data-toggle="modal">
                    <img class="img-responsive" src="{% static 'MainPage/img/burger.jpg' %}" alt="">
                </a>
                <h3>
					<a href="#burger" data-toggle="modal" style="margin-right: 20px;">
						Delectable Burger
					</a>
                </h3>
                <p>This bold burger comes directly from the grill bursting onto the plate! Enjoy this delicious classic!</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/order">
                    <img class="img-responsive" src="{% static 'MainPage/img/Lobster.jpg' %}" alt="">
                </a>
                <h3>
                    <a href="/order">Beer-steamed Lobster</a>
                </h3>
                <p>Enjoy the catch from the sea with your favorite ice cold drink!</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/order">
                    <img class="img-responsive" src="{% static 'MainPage/img/steak.jpg' %}" alt="">
                </a>
                <h3>
                    <a href="/order">Sizzling Steak</a>
                </h3>
                <p>This succulent steak is a classic! Enjoy the tantalizing juicy steak with freshly picked greens.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="/order">
                    <img class="img-responsive" src="{% static 'MainPage/img/Salmon.jpg' %}" alt="">
                </a>
                <h3>
                    <a href="/order">Honey-glazed Salmon</a>
                </h3>
                <p>The steak of the sea arrives to your plate with the hint of honey. Open your tastebuds and enjoy!</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/order">
                    <img class="img-responsive" src="{% static 'MainPage/img/Pizza.jpg' %}" alt="">
                </a>
                <h3>
                    <a href="/order">Pizza</a>
                </h3>
                <p>An American staple. What could go wrong?</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/order">
                    <img class="img-responsive" src="{% static 'MainPage/img/Sushi Special.jpg' %}" alt="">
                </a>
                <h3>
                    <a href="/order">Sushi Special</a>
                </h3>
                <p>In need of a foreign taste? Try our insane sushi special straight from a Professional Sushi Chef!</p>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="/order">
                    <img class="img-responsive" src="{% static 'MainPage/img/Ramen.jpg' %}" alt="">
                </a>
                <h3>
                    <a href="/order">Ramen</a>
                </h3>
                <p>Flavors around the world combine in one of the most popular asian dishes. Ramen! Drop your ramen package and try the real thing!</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#pork" data-toggle="modal">
                    <img class="img-responsive" src="{% static 'MainPage/img/Curry.jpg' %}" alt="">
                </a>
                <h3>
					<a href="#pork" data-toggle="modal" style="margin-right: 20px;">
						Pork Cutlet
					</a>
                </h3>
                <p>Rice, curry, and crispy pork. Together creating an aroma that will excite your tastebuds! Don't order if on a diet because you'll be coming back for more!</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="/order">
                    <img class="img-responsive" src="{% static 'MainPage/img/Mushroom Soup.jpg' %}" alt="">
                </a>
                <h3>
                    <a href="/order">Mushroom Soup</a>
                </h3>
                <p>A simple, but elegant dish. Light, creamy, and oh-so tasty. A great soup to eat on a cold winter day!</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Get Jak'd!</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'MainPage/js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'MainPage/js/bootstrap.min.js' %}"></script>

</body>

{% endblock %}

