{% extends "MainPage/base.html" %}



{% block content %}
<br>
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<h2>
					Food Order!
					</h2>
				</div>
				<div class="col-md-2">
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<p>
						You have successfully <strong>Ordered!</strong>. <br>
						The assumption is that the User will select items and order. However, the cart isn't setup and paying isn't setup.
					</p>
				</div>
				<div class="col-md-2">
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					 
					<button type="button" class="btn btn-primary btn-lg">
						Submit
					</button>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</div>
	
	
{% endblock %}