{% extends "MainPage/base.html" %}



{% block content %}
<br>
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<h2>
					Thanks for choosing Airwave!
					</h2>
				</div>
				<div class="col-md-2">
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					<p>
						Your total was: <strong>$12.90</strong> <br>
						You have successfully ordered the following:<br>
						<ul>
							<li>
								<p>	1 Delectable burger<strong>(s)</strong> </p>
							</li>
							<li>
								<p>	1 Pork cutlet<strong>(s)</strong> </p>
							</li>
						</ul>
						Your food will be delivered by conveyor belt to your table.
					</p>
				</div>
				<div class="col-md-2">
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>
	</div>
</div>
	
	
{% endblock %}